
        <h1>Welcome to <%= name%>'s Site</h1>
        <% let dogAge = age * 7 %> 
        <h2> <%= name%> is <%= dogAge%> years old in dog yaers</h2>

        <% let status 
         if (dogAge < 100) { 
             status = 'young dog'
        } else{ 
           status = 'old dog'
        } %> 
       <h3>I would say that I am an <%= status %></h3>

       <ul>
            <% for (let i = 0; i < 100; i++){ %>
                <li> iam number <%= i %></li>
           <% } %>
        </ul>
 